footer {
  background: var(--primary-color);
  padding: 0 1.5rem;
  padding-bottom: 1rem;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}
.footer-item {
  border-right: 1px solid black;
  flex: 0 0 30%;
  margin: 2rem 0;
}

h1, h2, h3 {
  margin-top: 0;
}
.footer-item:last-of-type {
  border-right: 0;
}
.footer-item header {
  margin-top: -2rem;
}
.footer-item header h4, .footer-item ul {
  text-align: center;
  justify-content: center;
}
.footer-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-logo-img {
  mix-blend-mode: color-burn;
  max-height: 140px;
  margin: auto;
  display: block;
}


.kontakt-oss-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-areas: 
  "epost adresse"
  "telefon adresse";
}
.kontakt-oss-grid h5 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.95);
  font-weight: bold;
}
.kontakt-oss-grid h5, .kontakt-oss-grid p {
  margin: 0;
}
.kontakt-oss-grid > * {
  margin-bottom: 1rem;
}
.kontakt-oss-epost {
  grid-area: epost;
}
.kontakt-oss-telefon {
  grid-area: telefon;
}
.kontakt-oss-adresse {
  grid-area: adresse;
}

.footer_adresse {
  background-image: url(../assets/husikon.svg);
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding-left: 20px;
}

.footer_telefon {
  background-image: url(../assets/telefonikon.svg);
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding-left: 20px;
}

.footer_epost {
  background-image: url(../assets/mailikon.svg);
}

.footer_telefon {
     background-image: url(../assets/telefonikon.svg); 
}

.footer_telefon, .footer_epost, .footer_adresse{
  height: 20px;
  width: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding-left: 20px;
}

.footer-sponsors {
  grid-template-columns: 5rem;
  display: grid;
  grid-template-areas: "header images";
}
.footer-sponsors-header {
  display: inline-block;
}
.footer-sponsors-images {
  grid-area: images;
  display: flex;
  flex-flow: row wrap;
  /* display: grid;
  grid-template-columns: 10rem repeat(auto-fill, 500px); */
}
.footer-sponsors img {
  /* transparent bg */
  mix-blend-mode: multiply;
  object-fit: contain;
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 800px) { 
  .kontakt-oss-grid {
    grid-template-areas: 
    "epost"
    "telefon"
    "adresse";
  }
  .footer {
    padding: 0 .5rem;
  }
}

@media (max-width: 500px) {
  .footer-item {
    border-right: 0;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  .kontakt-oss-grid { 
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}