/* forsidebilde */

.hero {
  background: rgba(0, 0, 0, .5);
  height: 600px;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
}

/* Nyheter grid */

fore-hjem-nyheter {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  grid-auto-rows: 1fr;
  gap: 2rem;
  grid-column: 1/2;
  align-items: flex-start;
  max-width: 780px;
}

main {
  display: grid;
  grid-template-columns: 2fr max-content;
  column-gap: .5rem;
  gap: 2rem;
  padding-top: 3rem;
}

.værmelding-temperatur {
  transform: translateY(50%);
  text-anchor: end;
  dominant-baseline: ideographic;
  font-size: 4rem;
}

.åpningstider-liste {
  padding: 0;
  list-style: none;
  
}

/* aside innhold */

aside {}

aside .content-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 720px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  aside .content-wrapper {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
  }
}