ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.kalender {
    max-width: 400px;
}

.mnd {
    padding: 12px 0;
    background: #9bbd6a;
    text-align: center;
}

.mnd ul {
    margin: 0;
    padding: 5px;
}

.mnd ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.ukedag {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.ukedag li {
    display: inline-block;
    width: 13%;
    color: #555;
    text-align: center;
}

.dag {
    padding: 15px 0;
    background: #eee;
    margin: 0;
}

.dag li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 16px;
    font-size:15px;
    color: #555;
    cursor: pointer;
}

.idag {
    background-color: #9bbd6a !important;
    border-radius: 50px !important;
    color: white !important;
}

.dag li:hover {
    background-color: lightgray;
    border-radius: 50px;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#textWrapper {
    flex-basis: 50%;
    text-align: center;
}

#text {
    height: 10%;
    max-width: 100px;
    margin: auto;
    margin-top: 15%;
}

.aktivDag {
    background-color: lightgray;
    border-radius: 50px;
}