input {
    padding: 12px 20px;
    width: 100%;
    box-shadow: 10;
    margin-bottom: 20px;
}

textarea {
    padding: 12px 20px;
    width: 100%;
    min-height: 20rem;
}

.info {
    display: flex;
    margin: 0;
    font-weight: bold;
    align-items: flex-end;
}

.infotekst {
    margin-top: 0px;
}

/*Style for submit knapp på "kontakt oss"- og "bli medlem" - form. */




/*
#telefon{
    background-image: url(./assets/telefonikon.jpg);
    height: 20px;
    width: 23px;  
}

#adresse_kontakt{
   background-image: url(./assets/husikon.png);
    height: 24px;
    width: 24px;
}

#mail{
    background-image: url(./assets/mailikon.png);
    height: 25px;
    width: 30px;
    background-position: bottom;
    margin-left: -5px;
    margin-bottom: -3px;
}


#mail, #adresse, #telefon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

*/

 .ikon {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 4px;
}

#telefon {
    background-image: url(../assets/telefonikon.svg);
}

#adresse_kontakt {
    background-image: url(../assets/husikon.svg);
}

#mail {
    background-image: url(../assets/mailikon.svg);
}

#infoboks {
    min-width: 18rem;
    background-color: #E8E8E8;
    padding: 2rem;
    border-radius: 60px;
    column-gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: -510px;
    margin-inline-end: 100px;
}

#bokser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#kontakt_form {
    max-width: 20rem;
    width: 100%;
}

/* Bruker media-query for å gjøre nettsiden responsiv */

@media (max-width: 720px) {
    #bokser {
        flex-direction: column;
    }
    #kontakt_form {
        max-width: unset;
    }
    .form-footer {
        flex-direction: column;
    }
    #infoboks {
        flex-direction: row;
         margin-top: auto;
        margin-inline-end: 0px;
    }
}

@media (max-width: 480px) {
    #infoboks {
        flex-direction: column;
        text-align: center;
         margin-top: auto;
        margin-inline-end: 0px;
    }
}