.header-img {
  width: 440px;
  max-width: 100%;
  margin: auto;
  display: block;
}

nav {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
}

#nav-list, #nav-select {
  font-family: abel, 'open sans';
  font-size: 1rem;
}

#nav-select {
  display: block;
  user-select: none;
  cursor: pointer;
  width: 100%;
  padding: .55em .45em;
  border: none;
  font-size: 1.25rem;
  display: none;
}

.nav-item.active {
  font-weight: bold;
}

#nav-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  background: var(--primary-color);
  margin: 0;
  padding: .5rem 0;
  line-height: 1;
  overflow: hidden;
}

.nav-item {
  padding: 8px 16px;
  border-right: 1px solid rgb(0 0 0 / 50%);
}

.nav-item:last-of-type {
  border-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item::after {
  content: '';
  position: absolute;
  background: red;
}

#nav-list.active {
  transform: translate3d(0, 0, 0);
  left: 0;
}

#nav-list.active+.backdrop {
  visibility: visible;
  opacity: 0.4;
}

#nav-list.touched {
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: background-color, transform;
}

.backdrop {
  background-color: #000;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  content: '';
  position: absolute;
  visibility: hidden;
}

.sidenav-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%; /* lettere å treffe på mobil */
  background: url("../assets/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  align-self: flex-end;
  display: none;
}

@media only screen and (max-width: 600px) {
  #nav-list {
    transform: translate3d(-100%, 0, 0);
    flex-direction: column;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 1000;
  }
  .sidenav-button {
    display: block;
  }
}

@media only screen and (max-width: 460px) {

}