/* Lagt inn i style.css */

#overLinja {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.forward, .backward {
    height: 1rem;
    width: 1rem;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.paginator-status {
    margin: 0 1rem 0 0;
    align-self: flex-end;
}

.backward {
    margin-right: 1rem;
}

.buttons {
    line-height: 1.5;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.buttons button {
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgba(0, 0, 0, .04);
}

.buttons button:disabled {
    opacity: .7;
    cursor: default;
    background-color: unset;
}

.backward {
    background-image: url(../images/backward.png)
}

.forward {
    background-image: url(../images/forward.png);
}



.boks .boksetekst {
    flex: 0 0 40%;
}

.boks .boksetekst p {
    /* Tillater newline fra API */
    white-space: pre-line;
}

.boks .boksebilde {
    flex: 0 0 60%;
}

img {
    height: 16em;
    width: 100%;
    object-fit: cover;
    display: block;
}

.boks h2, .boks h3, .boks p {
    margin: 0;
}

@media (max-width: 960px) {
    .boks {
        flex-direction: column-reverse;
    }
}

.tekstlink {
    text-decoration: none;
    color: inherit;
}