/* Lagt inn i style.css */

@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
:root {
    --primary-color:#9BBD6A;
}

/* Colors */

html {
    height: 100%;
}

body {
    background-color: #FCFFFC;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.nav {
    background-color: var(--primary-color);
}

.footer {
    background-color: var(--primary-color);
}

fore-footer {
    padding-top: 3rem;
}

/* Document layout */

main {
    margin: 0 10%;
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper {
    position: relative;
}

#solid {
    margin: 0 10%;
}

.flex-spacer {
    flex-grow: 1;
}

/* Typogrophy */

* {
    font-family: abel, 'open sans';
    box-sizing: border-box;
}

/*p {
    font-size: 24px;
}*/

/* h2 {
    font-size: 41px;
}

h3 {
    font-size: 36px;
    border-bottom: 1px solid;
    display: inline-block;
    margin: 15px 0;
} */

/* Img */

/* Tables */

.baneguide_navbar, td {
    text-align: center;
    margin: 5px 10px;
    border: solid 1px #FCFFFC;
}

.baneguide_navbar, table {
    background-color: var(--primary-color);
    width: 100%;
    border-collapse: collapse;
}

td:hover {
    background-color: grey;
    cursor: pointer;
}

/* klubben.html */

.bg_slider {
    max-width: 1140px;
    margin: auto;
    position: relative;
    border: 2px black;
}

.bg_slides {
    display: none;
}

#next, #prev {
    position: absolute;
    top: 42%;
    height: 50px;
    margin: 3px;
    cursor: pointer;
    user-select: none;
}

#next {
    right: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg_slides {
    background: #FFFFFF;
    margin: 1.5rem 0;
    /* skygge */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 17px rgba(0, 0, 0, 0.14);
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.bg_slides .slide_text {
    flex: 0 0 40%;
}

.bg_slides .slide_text {
    flex: 0 0 60%;
}

.slide_text {
    padding: 20px;
}

.bg_slides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.bg_slides h2, .bg_slides h3, .bg_slides p {
    margin: 0;
}

@media (max-width: 960px) {
    .bg_slides {
        flex-direction: column-reverse;
    }
}

/*Calendar*/

.kalender {
    max-width: 400px;
}

.mnd {
    padding: 12px 0;
    background: var(--primary-color);
    text-align: center;
}

.mnd ul {
    margin: 0;
    padding: 5px;
}

.mnd ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.ukedag {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.ukedag li {
    display: inline-block;
    width: 13%;
    color: #555;
    text-align: center;
}

.dag {
    padding: 15px 0;
    background: #eee;
    margin: 0;
}

.dag li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 16px;
    font-size:15px;
    color: #555;
    cursor: pointer;
}

.idag {
    background-color: var(--primary-color) !important;
    border-radius: 50px !important;
    color: white !important;
}

.dag li:hover {
    background-color: lightgray;
    border-radius: 50px;
}

#wrapperCalendar {
    display: flex;
    flex-direction: row;
}

#textWrapperHappening {
    flex-basis: 50%;
    text-align: center;
}

#text {
    height: 10%;
    max-width: 100px;
    margin: auto;
    margin-top: 15%;
}

.aktivDag {
    background-color: lightgray;
    border-radius: 50px;
}

/* CSS til nyhetsarkiv */

#overLinja {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.forward, .backward {
    height: 1rem;
    width: 1rem;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.paginator-status {
    margin: 0 1rem 0 0;
    align-self: flex-end;
}

.backward {
    margin-right: 1rem;
}

.buttons {
    line-height: 1.5;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.buttons button {
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgba(0, 0, 0, .04);
}

.buttons button:disabled {
    opacity: .7;
    cursor: default;
    background-color: unset;
}

.backward {
    background-image: url(../images/backward.png)
}

.forward {
    background-image: url(../images/forward.png);
}

.boks {
    background: #FFFFFF;
    margin: 1.5rem 0;
    /* skygge */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 17px rgba(0, 0, 0, 0.14);
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.boks .boksetekst {
    flex: 0 0 40%;
}

.boks .boksetekst p {
    /* Tillater newline fra API */
        white-space: pre-line;
}

.boks .boksebilde {
    flex: 0 0 60%;
}

.boksetekst-wrapper {
    padding: 20px;
}

img {
    height: 15em;
    width: 100%;
    object-fit: cover;
    display: block;
}

.boks h2, .boks h3, .boks p {
    margin: 0;
}

@media (max-width: 960px) {
    .boks {
        flex-direction: column-reverse;
    }
}

.tekstlink {
    text-decoration: none;
    color: inherit;
}

/* CSS til nyhet */

a {
    text-decoration: none;
    color: inherit;
}

.card {
    background: #FFFFFF;
    /* skygge */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 12px 17px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card.card-link::before {
    background-color: #000;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    position: absolute;
    transition: opacity 15ms linear, background-color 15ms linear;
}

.card.card-link:hover::before {
    opacity: .04;
}

.card-image {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 200px;
}

.card-primary {
    padding: 1rem;
}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
}

.card-subtitle {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
}

.card-body {
    padding: 0 1rem 8px;
    font-size: .875rem;
    flex-grow: 1;
    line-height: 1.25rem;
}

.card-body, .card-subtitle {
    color: rgba(0, 0, 0, .54);
}

.card-image:first-child, .card-image:last-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

h2 {
    line-height: 1.2;
}

/*Form medlemskap*/

input, select, #fdato, #epost {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    display: block;
}

.formStyle{
    width: 150px;
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #82a461;
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 10px;
    row-gap: 2rem;
}

label {
    display: inline-block;
    grid-column: span 5;
}

#adresse {
    grid-column: 1 / span 6;
}

#postnr {
    grid-column: 7 / span 4;
}


/*kontakt oss */

#submitKontakt {
    flex: 1 0 0;
}

.form-footer {
    display: flex;
    margin-top: 1.5rem;
}

textarea {
    padding: 12px 20px;
    width: 100%;
    min-height: 20rem;
}

.info {
    display: flex;
    margin: 0;
    font-weight: bold;
    align-items: flex-end;
}

.infotekst {
    margin-top: 0px;
}

.ikon {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 4px;
}

#telefon {
    background-image: url(../assets/telefonikon.svg);
}

#adresse_kontakt {
    background-image: url(../assets/husikon.svg);
}

#mail {
    background-image: url(../assets/mailikon.svg);
}

#infoboks {
    min-width: 18rem;
    background-color: #E8E8E8;
    padding: 2rem;
    border-radius: 60px;
    column-gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: -510px;
    margin-inline-end: 100px;
}

#bokser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#kontakt_form {
    max-width: 20rem;
    width: 100%;
}

/* Bruker media-query for å gjøre nettsiden responsiv */

@media (max-width: 720px) {
    #bokser {
        flex-direction: column;
    }
    #kontakt_form {
        max-width: unset;
    }
    .form-footer {
        flex-direction: column;
    }
    #infoboks {
        flex-direction: row;
        margin-top: auto;
        margin-inline-end: 0px;
    }
}

@media (max-width: 480px) {
    #infoboks {
        flex-direction: column;
        text-align: center;
        margin-top: auto;
        margin-inline-end: 0px;
    }
}

@media only screen and (max-width: 460px) {
    #form {
        display: flex;
        flex-direction: column;
    }
}


.dialog-åpen {
    transform: scale(1)!important;
  }
  .dialogboks {
    transform: scale(0);
    transition: transform .5s;
    top: 5rem;
    left: 5rem;
    right: 5rem;
    position: fixed;
    pointer-events: auto!important;
    background-color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;
    border-radius: .125rem;
    min-width: 500px;
    width: auto;
    margin: 1.75rem auto;
    z-index: 2;
  }
  .dialogboks.loading .dialog-header, .dialogboks.loading .dialog-body, .dialogboks.loading .dialog-footer {
    visibility: hidden;
  }
  .dialogboks.loading .dialog-bakgrunn {
    /* Ikke dismiss før httprequest er ferdig */
    pointer-events: none;
  }
  .dialog-header {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    border-bottom: 1px solid #dee2e6;
    padding: 0 1rem;
  }
  .dialog-body {
    font-size: 1rem;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
  }
  .dialog-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
  }
  .dialog-footer button {
    cursor: pointer;
    background-color: #a6c!important;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
  }
  .dialog-bakgrunn {
    opacity: 0;
    cursor: pointer;
    transition: opacity .5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
    visibility: hidden;
  }
  .dialog-skjult {
    opacity: .5;
    visibility: visible!important;
  }
  .dialog-loader-spinner {
    stroke: var(--primary-color);
    transform-origin: center;
    /* Halvsirkel */
    stroke-dasharray: 999;
    stroke-dashoffset: 890;
}


.dialog-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  .dialog-loader-sirkel {
    stroke-dasharray: 216; /* ORIGINALLY 166px */
    stroke-dashoffset: 216; /* ORIGINALLY 166px */
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--primary-color);
    fill: none;
  }
  
  .dialog-loader-checkmark {
    width: 106px; /* ORIGINALLY 56px */
    height: 106px; /* ORIGINALLY 56px */
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--primary-color);
  }
  .dialogboks.completed .dialog-loader {
      visibility: visible;
    }
    .dialogboks.completed .dialog-loader-checkmark {
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;    
    }
  .dialogboks.completed .dialog-loader-hake {
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  .dialogboks.completed .dialog-loader-sirkel {
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .dialogboks.completed .dialog-loader-spinner {
      visibility: hidden;
  }
  .dialogboks.loading .dialog-loader  {
      visibility: visible;
  }
  
  .dialogboks.loading .dialog-loader-spinner {
      /* ikke animer før animasjonen er synlig */
    animation: rotate 1s cubic-bezier(0.08, 0.4, 0.92, 0.59) infinite;
  }

  .dialog-loader-hake {
    transform-origin: 50% 50%;
    stroke-dasharray: 98; /* ORIGINALLY 48px */
    stroke-dashoffset: 98; /* ORIGINALLY 48px*/
  }

  @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 80px var(--primary-color);
    }
  }