input {
    padding: 12px 20px;
    width: 100%;
    box-shadow: 10;
    margin-bottom: 20px;
}

textarea {
    padding: 12px 20px;
    width: 100%;
    min-height: 20rem;
}

.info {
    display: inline;
    font-weight: bold;
}

.infotekst {
    margin-top: 0px;
}

/*Style for submit knapp på "kontakt oss"- og "bli medlem" - form. */

input[type=submit] {
    /* width: 200px; */
    background-color: #9bbd6a;
    color: white;
    padding: 14px 20px;
    /* margin: 25px 9px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    flex: 1 0 0;
}

input[type=submit]:hover {
    background-color: #82a461;
}

.form-footer {
    display: flex;
    margin-top: 1.5rem;
}

#telefon {
    background-image: url(./assets/telefonikon.jpg);
    height: 20px;
    width: 23px;
    display: inline-block;
    mix-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: contain;
}

#adresse {
    background-image: url(./assets/husikon.png);
    height: 24px;
    width: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: color-burn;
}

#mail {
    background-image: url(./assets/mailikon.png);
    height: 25px;
    width: 30px;
    display: inline-block;
    mix-blend-mode: color-burn;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: -5px;
    margin-bottom: -3px;
}

#infoboks {
    min-width: 18rem;
    background-color: #E8E8E8;
    padding: 2rem;
    border-radius: 60px;
    column-gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: -510px;
    margin-inline-end: 100px;
}

#bokser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#kontakt_form {
    max-width: 20rem;
    width: 100%;
}

/* Bruker media-query for å gjøre nettsiden responsiv */

@media (max-width: 720px) {
    #bokser {
        flex-direction: column;
    }
    #kontakt_form {
        max-width: unset;
    }
    .form-footer {
        flex-direction: column;
    }
    #infoboks {
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    #infoboks {
        flex-direction: column;
        text-align: center;
    }
}